$black: #000;
$white: #fff;
$blue: #0178ff;
$blue-second: #000080;
$blue-third: #0b0b90;
$gray: #e4e7ee;
$gray-second: #f9f9f9;
$gray-third: #6c757d;
$gray-fourth: #8a8a8a;
$gray-five: #f5f5f6;
$gray-six: #f9fcff;
$gray-seven: #667085;
$gray-transparent: rgba(228, 228, 228, 0.5);
$black-transparent: rgba(14, 25, 32, 0.11);
$black-transparent-second: rgba(0, 0, 0, 0.5);
$green: #138808;
$red: #ea4343;
$orange: #ffae5d;
$brown: #4b4b4b;

$shadow: rgba(16, 24, 40, 0.05);
$tabs-space: rgba(0, 7, 18, 0.1);
$to-top-button: rgba(255, 255, 255, 0.8);
$to-top-button-border: #eaeaea;
